*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
header{
    background-color: rgba(229, 84, 115, 0.10);
    background-size: 500px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px 0px 150px;
}
.banner-image{
    max-width: 500px;
    margin-bottom: -3px; 
}
.banner-content{
    max-width: 500px;
    
}
.banner-title{
    color: #272727;
    font-size: 67px;
    width: 600px;
    font-weight: 900;
    
}
.banner-description{
    color: rgba(39, 39, 39, .60);
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 550px;
    
    line-height: 23px;
    
}
.btn-primary{
    background-color: #e55473;
    color: #fff;
    border: none;
    padding: 13px 28px;
    align-items: center;
    border-radius: 8px;
    font-weight: 200px;
    font-size: 15px;
    font-family: sans-serif;
}
/*featured flower*/
.features{
    background-color:white;
}
.featured-container{
    text-align: center;
    padding: 1px;
    max-width: 500px;
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}
.featured-container-title{
    margin-top: 100px;
  
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}
.featured-container-description{
    
    color: rgba(39, 39, 39, .60);
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;  
}
.featured-container-images{
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 1px saddlebrown sol;
    
}
.featured-flower{
    /* border: 1px solid firebrick; */
    border-radius: 300px 300px 0px 0px;
   
}
.bg-image1{
    background-color: rgba(167, 33, 98, 0.15);
}
.bg-image2{
    background-color: rgba(5, 151, 160, .15);
}
.bg-image3{
    background-color: rgba(71, 125, 17, .15);
}
.image1{
    margin: 110px 78px 0px 76px;
    /* border: 1px solid rebeccapurple; */
    margin-bottom: -3px;
}
.image2{
    margin: 117px 47px 45px 47px;
    /* border: 1px solid rebeccapurple; */
    margin-bottom: 48px;
}
.image3{
    margin: 67px 75px 0px 75px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
    margin-bottom: -3px;
}
.flower-name{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

/*hot deal*/
.hot-deal-container{
    display: flex;
    justify-content:center;
    gap: 215px;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 100px;
}
.hot-deal-container-image{
    padding-top: 100px;
}
.hot-deal-container-banner{
    text-align: center;
}
.hot-deal-container-banner-title{
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 10px;
    padding-top: 140px;
    
}
.hot-deal-container-banner-description{
    color: rgba(39, 39, 39, .60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 15px;
}
/* ig banner */
.ig{
    margin-bottom: 50px;
}
.ig-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ig-title{
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 10px;
}
.ig-description{
    color: rgba(39, 39, 39, .60);
    font-size: 15px;
    font-weight: 400px;
    line-height: 30px;
    padding-bottom: 15px;
}
.ig-images{
    display: flex;
    justify-content:space-evenly;
    
}
.ig-image{
    width: 310px;
    margin: 0px 32px ;   
   
    
    
}
/* adding subscribe part*/
.subscribe{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    /* width: 60%; */
    /* margin: auto; */
    height: 50vh;
}